<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.forestgump.boilerplate.home">

    <dist:module
        dist:instant="false"
        dist:onDemand="false"
        dist:title="Home">
        <dist:fusing dist:include="true" />
    </dist:module>

    <uses-permission android:name="android.permission.CAMERA" />

    <application tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="ocr" />

        <activity
            android:name=".ui.dashboard.HomeActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/BaseTheme.Home"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name=".ui.details.DetailsActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>