<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.forestgump.boilerplate.home">

    <dist:module
        dist:instant="false"
        dist:onDemand="false"
        dist:title="Home">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".ui.dashboard.HomeActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/BaseTheme.Home"
            android:windowSoftInputMode="adjustNothing" />
    </application>

</manifest>